@import './base.css';
@import "tailwindcss";


body{
    font-family: 'Montserrat', sans-serif;
}

body h1{
  font-weight: bold;
}

#app {
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
}

a,
.green {
  text-decoration: none;
  color: blue;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
